body {
    font-family: sans-serif;
    background-image: url('BD_IMG.jpj.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Updated background size to cover */
    background-attachment: fixed;
}

.menu_bar {
    background-color: whitesmoke;
    padding: 10px 0; /* Adjusted padding */
}

.logo {
    color: black;
    font-size: 2rem; /* Changed font size to rem unit */
}

.logo span {
    color: blue;
}

.menu_bar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align links to the right */
}

.menu_bar ul li {
    padding: 0 15px; /* Adjusted padding */
}

.menu_bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem; /* Changed font size to rem unit */
    transition: all 0.3s;
}

.menu_bar ul li a:hover {
    color: blue;
}

.w {
    margin-top: 20%;
    margin-left: 30%;
    margin-bottom: 15%;
    color: whitesmoke;
    font-size: 2rem; /* Changed font size to rem unit */
}
